.Search {
  margin-right: 1rem !important;
  margin-left: auto;
  width: fit-content !important;
  margin-top: -0.5rem !important;
}

.common {
  margin-top: -0.5rem !important;
}

.datePicker {
  margin-top: -2rem !important;
}
