.Search {
  margin-right: 1rem !important;
  margin-left: auto;
  width: fit-content !important;
  margin-top: -0.5rem !important;
  button {
    min-height: 1rem !important;
    margin-top: 17px;
    margin-bottom: 8px;
  }
}

.common {
  margin-top: -0.5rem !important;
}

.datePicker {
  margin-top: 0rem !important;
}
