.logo {
  color: white !important;
  line-height: 56px !important;
  margin-left: 0px !important;
  z-index: 2 !important;
  white-space: nowrap !important;
  font-weight: 600;
  font-size: 16px;
  cursor: default !important;
}

.menuText {
  text-transform: none;
  color: #fff;
}

.rbvMenuText {
  text-transform: none;
  color: #fff;
  text-indent: 1.7em;
  cursor: default;
}

.rbvMenuText:hover {
  border: none !important;
  background: none !important;
}

.profileMenu {
  color: #fff !important;
  text-transform: none;
  cursor: default;
  font: normal 250 16px "Proxima Nova", sans-serif;
}
.profileMenu > div {
  display: none !important;
}

.rbvNavBar {
  background-image: linear-gradient(45deg, #250056, #0076ae) !important;
  height: 4.4rem !important ;
  justify-content: left !important;
  position: fixed !important;
}

.rbvNavBar > div {
  min-height: 30px !important;
  padding: 0 0 0.4em 1em;
}
