.screenSide {
  display: flex;
  margin-top: 1rem;
}
.charts {
  margin: 0.15rem;
  padding-left: 1rem;
  .protonum {
    div {
      margin-top: 2px !important;
      margin-bottom: 1px !important;
      width: 12rem !important;
    }

    div > label {
      font-size: 0.8rem !important;
      font-weight: 500 !important;
      margin-bottom: 0.2rem !important;
      color: black !important;
    }

    div > div > div:nth-child(1) {
      height: 28px !important;
      min-height: 28px !important;
      padding-top: 3px !important;
    }
  }
  .tasksummary {
    table {
      thead {
        tr {
          height: 2rem !important;
          th {
            font-size: 1.2rem !important;
            font-weight: 500 !important;
            color: black !important;
          }
        }
      }
      tbody {
        tr {
          height: 2rem !important;
          td {
            font-size: 0.8rem !important;
            font-weight: 500 !important;
            color: black !important;
          }
        }
      }
    }
  }
}

.screenCards {
  display: flex;

  .leftCards {
    margin: 5rem !important;
    padding: 1rem !important;
  }
  .rightCards {
    margin: 5rem !important;
    padding: 1rem !important;
  }
  .statusText {
    font-weight: 400 !important;
    font-size: 0.7rem !important;
    color: var(--text-secondary);
  }
  table {
    thead {
      tr {
        height: 2rem !important;
        th {
          font-size: 0.8rem !important;
          font-weight: 500 !important;
          color: black !important;
        }
      }
    }
    tbody {
      tr {
        height: 2rem !important;
        p,
        a,
        td {
          font-size: 0.9rem !important;
          font-weight: 500 !important;
        }
      }
    }
  }
}
/* For screens smaller than 768px (e.g., tablets and mobile phones) */
@media (max-width: 768px) {
  .screenStyle {
    .linechart,
    .tasksummary {
      /* Stacks the charts vertically */
      width: 100%; /* Full width on smaller screens */
      margin-right: 0; /* Removes spacing */
      margin-top: 1rem;
    }
  }
  .screenCards {
    display: block;
    .leftCards {
      margin: 0.2rem !important;
      padding: 1rem !important;
      width: 100% !important;
    }
    .rightCards {
      margin: 0.2rem !important;
      padding: 1rem !important;
      width: 100% !important;
    }
  }
}

/* For screens between 769px and 1024px (e.g., tablets in landscape mode) */

/* For screens larger than 1024px (e.g., desktops) */
@media (min-width: 1025px) {
  .screenStyle {
    display: flex;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    .linechart {
      float: left;
      width: 62%; /* Default width for large screens */
      margin-right: 2%;
    }

    .tasksummary {
      float: left;
      width: 36%; /* Default width for large screens */
      height: 17rem;
      padding-right: 0.5rem;
    }
  }
  .screenCards {
    display: flex;
    .leftCards {
      margin: 0.2rem !important;
      padding: 1rem !important;
      width: 49% !important;
    }
    .rightCards {
      margin: 0.2rem !important;
      padding: 1rem !important;
      width: 49% !important;
    }
  }
}
