.textfieldElement > div {
  margin-top: 0px !important;
  margin-bottom: 2px !important;
}

.textfieldElement > div > label {
  font-size: 12px !important;
  font-weight: 500 !important;
  padding-bottom: 0px !important;
  margin-bottom: -.2rem !important;
}

.textfieldElement > div {
  margin-top: 2px !important;
  margin-bottom: 1px !important;
}
.textfieldElement > div > div > input {
  min-height: 1.35rem !important;
  height: 1.35rem !important;
}
