.selectElement > div {
  margin-top: 2px !important;
  margin-bottom: 1px !important;
}

.selectElement > div > label {
  font-size: 12px !important;
  font-weight: 500 !important;
  padding-bottom: 0px !important;
  margin-bottom: -0.2rem !important;
}

.selectElement > div > div > div:nth-child(1) {
  min-height: 1.35rem !important;
  height: 1.35rem !important;
  padding-top: 0px !important;
}
