.datePickerElement > div > div > input {
  min-height: 28px !important;
  height: 28px !important;
  font-size: 14px !important;
}

.datePickerElement > div > label {
  font-size: 12px !important;
  margin-bottom: -4px !important;
  font-weight: 500 !important;
}

.datePickerElement {
  margin-top: 6px !important;
}
